<div class="companies d-flex">
  <ng-template [ngIf]="this.company.myCompaniesLoading" [ngIfElse]="menuContent">
    <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="align-self-center text-center w-100"></fa-icon>
  </ng-template>
  <ng-template #menuContent>
    <ul>
      <li ngbDropdown [attr.class]=" item.id == this.company.companyData.id ? 'active' : null" *ngFor="let item of this.company.myCompanies; let i=index" >
        <div class="left" routerLink="/firma/{{item.id}}">
          {{item.name}}
        </div>
        <div class="right">
          <fa-icon class="text-right" [icon]="['fas', 'ellipsis-v']" ngbDropdownToggle></fa-icon>
        </div>
        <div class="dropdown-menu" container="body" placement="top" ngbDropdownMenu>
          <button (click)="company.removeCompany(i)" ngbDropdownItem>
            <fa-icon class="text-right" [icon]="['fas', 'trash']" ></fa-icon> Remove
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
</div>

