<div class="companies d-flex">
  <div *ngIf="this.company.myCompaniesLoading;else menuContent" >
    <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="align-self-center text-center w-100"></fa-icon>
  </div>
  <ng-template #menuContent>
    <ngb-accordion #accord="ngbAccordion" [closeOthers]="true" >
      <ngb-panel  [id]="'static-'+item.id" routerLinkActive="active" [attr.class]="item.id == this.company.companyData.id ? 'active' : null" *ngFor="let item of this.company.myCompanies; let i=index">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="custom-header justify-content-between" [class.collapsed]="!opened"  >
              <div class="pl-2 pr-2">
                <div class="left" >
                  <button class="company" [hidden]="opened" ngbPanelToggle (click)="item.see_workers ? selectCompany(item.id) : false">
                    <fa-icon class="ml-2 mr-3" [icon]="['fas', 'chevron-right']"  ></fa-icon>
                  </button>
                  <button class="company" [hidden]="!opened" ngbPanelToggle (click)="item.see_workers ? selectCompany(item.id) : false">
                    <fa-icon class="ml-2 mr-3" [icon]="['fas', 'chevron-down']"></fa-icon>
                  </button>
                  <a routerLink="/firma/{{item.id}}">{{ this.item.see_workers }} {{item.name}}</a>
                </div>
                <div class="right">
                  
 
                </div>
              </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent *ngIf="item.see_workers">
          <div class="workers">
            <div class="w100 text-center" *ngIf="this.company.gettingWorkers;else workersList">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-notch" class="svg-inline--fa fa-circle-notch fa-w-16 fa-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M288 39.056v16.659c0 10.804 7.281 20.159 17.686 23.066C383.204 100.434 440 171.518 440 256c0 101.689-82.295 184-184 184-101.689 0-184-82.295-184-184 0-84.47 56.786-155.564 134.312-177.219C216.719 75.874 224 66.517 224 55.712V39.064c0-15.709-14.834-27.153-30.046-23.234C86.603 43.482 7.394 141.206 8.003 257.332c.72 137.052 111.477 246.956 248.531 246.667C393.255 503.711 504 392.788 504 256c0-115.633-79.14-212.779-186.211-240.236C302.678 11.889 288 23.456 288 39.056z"></path></svg>
            </div>
          </div>
          <ul #workersList>
            <li *ngFor="let item of this.company.companyWorkers; let i=index" routerLink="/firma/{{item.company_id}}/{{item.user_id}}/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              <span class="ml-1" *ngIf="item.firstname; else anon" >{{item.firstname}} {{item.lastname}}</span>
              <ng-template #anon>
                <span class="ml-1">Kasutaja {{i}}</span>
              </ng-template>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </ng-template>
</div>

