/* You can add global styles to this file, and also import other style files */
$menu-color:#bfbfbf;
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~ng-pick-datetime/assets/style/picker.min.css";
html{
  background-image: url('./assets/bg2w.jpg');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.btn-iceblue{
  color:#222222;
  background: linear-gradient(45deg, rgb(90, 255, 192), rgb(3, 232, 248));
  &:hover{
    background: linear-gradient(45deg,  rgb(3, 232, 248), rgb(90, 255, 192));
  }
}
.btn-grey{
  color:#222222;
  border:solid 1px #ced4da !important;
  background: linear-gradient(45deg, #e9ecef, #e9ecef);
  &:hover{
    background: linear-gradient(45deg,  #d8d8d8, #d8d8d8);
  }
}
.btn-purple{
  color:white !important;
  background: linear-gradient(45deg, #ab6cad, #744dad);
  &:hover{
    background: linear-gradient(45deg,  #604091, #604091);
  }
}
.btn-blue{
  color:white !important;
  background: linear-gradient(45deg, #52b6e4, #2a9aca);
  &:hover{
    background: linear-gradient(45deg,  #604091, #604091);
  }
}
body{
    overflow:hidden;
    position: relative;
    background-color: transparent !important;
  }
.left{

}
.middle{

}
.right{
  
}

  @media ( min-width : 991px) {//only for pc

  }
  @media ( max-width : 991px) {//only for handheld
    html{
      overflow: hidden;
      height:100%
    }
    body{
      position: relative;
      height:100%
    }
    .body{
      /*height:100vh*/
    }
    .login-wrap{
      width: 100% !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .mainMenuMobile{
      display:initial;
    }

    .menu{
      position: absolute;
      display:none;
      .menuWrap{
        .top{
          display:none;
        }
        padding-top:15px;
      }
    }
    .body .top{
      h2{
        font-size:15px;
        margin:0px;
      }
    }
    .bottom .bodyWrap{
      .top{
        display:none;
      }
      .bottom{
        .row{
          height: 100%;
        }
      }
    }
    .addCopmanyModal{
      display:none;
    }
  
    .addEntryModal{
      max-width: 100%;
    }
    .mainMenuMobile{
      z-index: 3;
      position: absolute;
      left:100vw;
      top:0px;
      width:100vw;
      height: 100%;
      color:$menu-color;

      .menuWrap{
        position: relative;
        background-color: rgb(58, 58, 58);
        display: flex;
        flex-direction: column;
        height:100%;
        .middle{
          flex: 1 1 auto;
        }
        .bottom{
          flex: 0 1 76px;
          .newCompany{
            color: $menu-color;
            border:solid 2px $menu-color;
            background-color: transparent;
            width:100%;
            text-align:center;
            border-radius: 25px;
            font-size:20px;
            font-weight:400;
            padding:5px 10px 5px 10px;
            text-transform: uppercase;
          
          }
        }
      }
    }

    .newFilter{
      position:fixed;
      padding:24px;
      width:100vw;
      height:100%;
      bottom:-120vh;
      background-color:white;
      z-index: 3;
    }
    .newCompanyModal{
      top:0px;
      padding:24px;
      width:100vw;
      height:100%;
      position:absolute;
      background-color:white;
      z-index: 3;
    }
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
