$menu-color:#bfbfbf;

.menu{
  height: 100vh;
  background-color: rgb(58, 58, 58);
  color:$menu-color;
}
.body{
  background-color:#f3f4f5;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding:0px;
  height:100%;
  overflow: hidden;

  .bottom{
    height:100%;
  }

/*

  .top{
    padding-left:15px;
    padding-right:15px;
  }
  .middle{
    
  }
  .bottom{
    flex: 1 1 auto;
    overflow: hidden;
    height:calc( 100vh - 77px);
    .bodyWrap{
      height:100%;
    }
  }
*/
  .row:nth-of-type(1){
    //border-bottom:solid 2px #eaeaea;
    padding-top:15px;
    padding-bottom:15px;
    background-color:white;
    box-shadow: 0px 0px 11px 4px #eaeaea;
  }

}

.overviewMenu{
  padding:15px;
  z-index: 3;
  width: 400px;
  height: 100vh;
  /* border: solid thin red; */
  background-color: white;
  position: absolute;
  right: -400px;
  top: 0px;
  box-shadow: -20px 0px 20px 0px #0000000d;
  .wrap{
    height:100vh;
  }
}
.addEntryModal{
  z-index: 3;
  width: 400px;
  height: 100vh;
  /* border: solid thin red; */
  background-color: white;
  position: absolute;
  right: -400px;
  top: 0px;
  box-shadow: -20px 0px 20px 0px #0000000d;
  .wrap{
    height:100vh;
  }
}

.addCopmanyModal{
  z-index: 2;
  width: 400px;
  height: 100vh;
  /* border: solid thin red; */
  background-color: white;
  position: absolute;
  left: 317px;
  top: 0px;
  box-shadow: 19px 0px 20px 0px #0000000d;
  .wrap{
    height:100vh;
  }
}

#backDrop{
  width: 100vw;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
  display:none;
}
@media ( max-width : 991px) {//only for handheld
  .body{
    height:100%;
  }

  .bottom{
    overflow: hidden;
    /* flex-direction: column; */
    height: 100%;
  }
  .mainWrap{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .top,.middle,.bottom{
      border:solid thin red;
    }
    .top{
      min-height:55px;
      padding-left:15px;
      padding-right:15px;
    }
    .middle{
      flex:1;
      overflow: scroll;
      max-height: -webkit-fill-available;
    }
    .bottom{
      min-height:55px
    }
  }
  .overviewMenu{
    box-shadow: none;
  }
}


