
  <div class="top d-none d-lg-block" >
      <h2 class="float-left">
        <fa-icon class="monthSelector" [icon]="['fas','chevron-left']" (click)="this.table.prevMonth()"></fa-icon>
        {{ this.table.months[this.table.selectedMonth] }}
        <fa-icon class="monthSelector" [icon]="['fas','chevron-right']" (click)="this.table.nextMonth()"></fa-icon>
      </h2>
      
      <div class="btn btn-blue addHours" (click)='this.company.openSidebar("newEntry")'>
        <fa-icon [icon]="['far', 'clock']" class="mr-2"></fa-icon>
        Lisa Sissekanne
      </div>
      
      <div class="btn btn-light mr-2 float-right text-center" (click)="this.company.openSidebar('overviewMenu')">
        <fa-icon [icon]="['fas', 'chart-bar']" class="mr-2" ></fa-icon>
        Ülevaade
      </div>

      <div class="btn btn-light mr-2 float-right text-center" >
        <fa-icon [icon]="['fas', 'envelope-open-text']" class="mr-2"></fa-icon>
        Jaga
      </div>
    
    <!-- 
      <div class="input-group ml-3 mr-3 float-right">
        <label class="input-group-text" for="inputGroupSelect01">
          <fa-icon [icon]="['fas', 'map-marked-alt']" ></fa-icon>
        </label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Töömaa</option>
        </select>
        <div class="shadow-bottom"></div>
      </div>
    
      <div class="input-group ml-3 float-right">
        <label class="input-group-text" for="">
          <fa-icon [icon]="['fas', 'calendar-alt']" ></fa-icon>
        </label>
        <select class="form-select first" id="" (change)="this.filterMonthChange($event.target.value)">
          <option 
            name="filterMonth"
            *ngFor="let item of this.table.months | keyvalue:returnZero"  value="{{convertMonth(item.key)}}" [attr.selected]="item.key == this.table.filterSelectedMonth?true:null">{{item.value}}
          </option>
        </select>
        <select class="form-select" id="" (change)="this.filterYearChange($event.target.value)">
          <option 
            name="filterMonth"
            *ngFor="let item of this.table.years | keyvalue:returnZero"  value="{{item.value}}" [attr.selected]="item.value == this.table.filterSelectedYear?true:null">{{item.value}}
          </option>
        </select>
      </div>
    -->
    
  </div>
  <div class="middle scroll-1">
      <table class="table table-bordered">
        <tr>
          <th scope="col text-center d-sm-block" >
            <div  >
              Päev <fa-icon [icon]="['fas','ellipsis-v']" class="ml-2"></fa-icon>
            </div>
          </th>
          <th scope="col text-center"  ngbDropdown placement="bottom-left" container="body">
            <div ngbDropdownToggle >
              Töömaa
              <fa-icon [icon]="['fas','ellipsis-v']" class="ml-2"></fa-icon>
              <div ngbDropdownMenu aria-labelledby="objects">
                <div class="pl-3 pr-3">

                </div>
                <div class="dropdown-divider"></div>
                <div class="pl-3 pr-3">
                    <div class="form-check" *ngFor="let item of this.table.tyymaad | keyvalue : returnZero; index as i">
                        <input name="{{item.value}}" type="checkbox" class="form-check-input" id="dropdownCheck" [checked]="item.value['checked']"> 
                        <label class="form-check-label" for="dropdownCheck">
                          {{item.key}}
                        </label>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="text-center">
                  <button class="btn btn-sm btn-success" (click)="this.table.filterObjects()">
                    Salvesta
                    <fa-icon [icon]="['fas','check-double']" class="ml-2"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th scope="col text-center" >
            <span>
              Tunnid
            </span>
          </th>
          <th scope="col text-center" id="absorbing-column">Ülesanded/Märkused</th>
          <th scope="col text-center" style="width:50px"></th>
        </tr>
        <ng-container *ngFor="let item of this.table.hours['data'] | keyvalue : returnZero; index as i">
          <!-- Single Row -->
          <tr 
            *ngIf="objectKeys( item.value ).length < 2 ; else multi" 
            [attr.date]="this.table.selectedYear+'-'+(this.table.selectedMonth+1)+'-'+(i+1)" 
            [attr.day]="i+1" [attr.itemId]=" objectKeys(item.value)[0] ? objectKeys(item.value)[0] : 0 " 
            [attr.id]=" item.key == this.table.currentDate ? 'today' : null"
          > 
            <ng-template [ngIf]="objectKeys( item.value ).length == 1 && objectKeys( item.value ) != 0">
              <td class="let days text-center align-middle" >
                {{i+1}} 
              </td>
              <td class="object" >
                <span type="text" class="object" [attr.property]="'object'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>{{ item.value[ objectKeys(item.value)[0] ].object }}</span>
              </td>
              <td class="hours text-center">
                <span type="text" class="hours" [attr.property]="'hours'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>{{ item.value[ objectKeys(item.value)[0] ].hours }}</span>
              </td>
              <td class="notes">
                <span rows="1" class="notes" autosize [attr.property]="'notes'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>{{ item.value[ objectKeys(item.value)[0] ].notes }} </span>
              </td>
              <td class="options">
                <fa-icon [icon]="['far', 'trash-alt']" (click)="this.table.deleteEntry( item.value[ objectKeys(item.value)[0] ].id, item.key  )"></fa-icon>
              </td>
            </ng-template>
            <ng-template [ngIf]="objectKeys( item.value ).length == 1 && objectKeys( item.value ) == 0">

              <td class="let days text-center align-middle" >
                {{i+1}}
              </td>
              <td class="object" [attr.property]="'object'">
                <span type="text" class="object" [attr.property]="'object'" (focusout)="this.table.focusOut($event)" (keyup)="this.table.timeOut($event)" [attr.contenteditable]='quickAdd'></span>
              </td>
              <td class="hours text-center" [attr.property]="'hours'">
                <span type="text" class="hours" [attr.property]="'hours'" (focusout)="this.table.focusOut($event)" (keyup)="this.table.timeOut($event)" [attr.contenteditable]='quickAdd'></span>
              </td>
              <td class="notes" [attr.property]="'notes'">
                <span  rows="1" class="notes" [attr.property]="'notes'" (focusout)="this.table.focusOut($event)" (keyup)="this.table.timeOut($event)" [attr.contenteditable]='quickAdd'></span>
              </td>
              <td class="options">
              </td>
            </ng-template>
          </tr>
          <!-- Multi Row -->
          <ng-template #multi>
            <tr [attr.id]=" item.key == this.table.currentDay ? 'today' : null" [attr.itemId]="item.value[ objectKeys(item.value)[0] ].id" [attr.id]=" item.key == this.table.currentDate ? 'today' : null">
              <td class="let days text-center align-middle" [attr.rowspan]="objectKeys(item.value).length">
                {{i+1}}
              </td>
              <td class="object">
                <span type="text" class="object" [attr.property]="'object'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>
                  {{ item.value[ objectKeys(item.value)[0] ].object }}
                </span>
              </td>
              <td class="hours text-center">
                <span type="text" class="hours" [attr.property]="'hours'"  (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>
                  {{ item.value[ objectKeys(item.value)[0] ].hours }}
                </span>
              </td>
              <td class="notes" >
                {{ item.value[ objectKeys(item.value)[0] ].notes }}
              </td>
              <td class="options">
                <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
              </td>
            </tr>
            <ng-container *ngFor="let row of item.value | keyvalue : returnZero | slice:1 ">
              <tr [attr.itemId]="row.value.id">
                <td class="object" >
                  <span type="text" class="object" [attr.property]="'object'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>
                    {{row.value.object }}
                  </span>
                </td>
                <td class="hours text-center">
                  <span type="text" class="hours" [attr.property]="'hours'" (keyup)="this.table.edit($event)" [attr.contenteditable]='quickEdit'>               
                    {{row.value.hours }}
                  </span>
                </td>
                <td class="notes">
                  {{row.value.notes }}
                </td>
                <td class="options">
                  <fa-icon [icon]="['far', 'trash-alt']" (click)="this.table.deleteEntry( row.value.id, item.key )" ></fa-icon>
                </td>
              </tr>
            </ng-container>
          </ng-template>

          
        </ng-container>
        <!--
        <ng-container *ngFor="let item of this.table.hours[ this.table.filterSelectedYear ][ this.table.filterSelectedMonth ] | keyvalue : returnZero">
          <tr *ngIf="objectKeys( item.value ).length < 2; else multi" [attr.id]=" item.key == this.table.currentDay ? 'today' : null">
            <td class="days text-center align-middle" >
              {{item.key}}
            </td>
            <td class="object" >{{ objectKeys(item.value)[0] }}</td>
            <td class="notes"></td>
            <td class="hours text-center"></td>
            <td class="options">
              <fa-icon [icon]="['far', 'trash-alt']" *ngIf="objectKeys( item.value ).length > 0" (click)="this.table.deleteEntry( item.value[  objectKeys( item.value )[0] ]['id'] )"></fa-icon>
            </td>
          </tr>
          <ng-template #multi>
            <tr [attr.id]=" item.key == this.table.currentDay ? 'today' : null">
              <td class="days text-center align-middle" [attr.rowspan]="objectKeys(item.value).length">{{item.key}}</td>
              <td class="object" >{{ objectKeys(item.value)[0] }}</td>
              <td class="notes">{{  this.table.hours[ this.table.filterSelectedYear ][ this.table.filterSelectedMonth ][item.key][ objectKeys(item.value)[0] ]['task'] }}</td>
              <td class="hours text-center">{{ this.table.hours[ this.table.filterSelectedYear ][ this.table.filterSelectedMonth ][item.key][  objectKeys(item.value)[0] ]['hours'] }}</td>
              <td class="options">
                <fa-icon [icon]="['far', 'trash-alt']" (click)="this.table.deleteEntry( objectKeys(item.value)[0][id]  )"></fa-icon>
              </td>
            </tr>
            <ng-container *ngFor="let tyymaa of item.value | keyvalue : returnZero | slice:1 ">
              <tr>
                <td class="object" >{{ tyymaa.key }}</td>
                <td class="notes">{{ this.table.hours[ this.table.filterSelectedYear ][ this.table.filterSelectedMonth ][item.key][  tyymaa.key ]['task'] }}</td>
                <td class="hours text-center">{{ this.table.hours[ this.table.filterSelectedYear ][ this.table.filterSelectedMonth ][item.key][  tyymaa.key ]['hours'] }}</td>
                <td class="options">
                  <fa-icon [icon]="['far', 'trash-alt']" (click)="this.table.deleteEntry( item.value[tyymaa.key].id )"></fa-icon>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </ng-container>
        -->
      </table>
  </div>
  <div id="loadingTables" *ngIf="this.table.isTableLoading">
    <fa-icon icon="circle-notch" spin="true"></fa-icon>
  </div>
  <div class="bottom d-flex d-lg-none">
    <div class="wrap">
      <div class="left d-lg-none align-self-center">
        <button class="btn btn-primary" (click)='this.company.openSidebar("newFilter")'>
          <fa-icon [icon]="['fas','chevron-up']"></fa-icon>
        </button>
      </div>
      <div class="middle text-center align-self-center">
        <div class="d-none d-lg-block">
          {{ this.table.totalHours }}<br>
          <small>Tunde Kokku</small>
        </div>
        <div class="d-lg-none">
          <div class="btn-group w-100">
            <button type="button" class="btn"><fa-icon [icon]="['fas', 'chevron-left']" (click)="this.table.prevMonth()"></fa-icon></button>
            <div class="btn-group month w-100" ngbDropdown role="group" container="body">
              <button class="btn" ngbDropdownToggle>{{ this.table.months[this.table.filterSelectedMonth] }}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem (click)="this.filterMonthChange($event.target.value)"
                    name="filterMonth"
                    *ngFor="let item of this.table.months | keyvalue:returnZero"  value="{{convertMonth(item.key)}}" [attr.id]="item.key == this.table.filterSelectedMonth?'currentMonth':null">{{item.value}}
                </button>
              </div>
            </div>
            <button type="button" class="btn"><fa-icon [icon]="['fas', 'chevron-right']" (click)="this.table.nextMonth()"></fa-icon></button>
          </div>
        </div>
      </div>
      <div class="right text-right d-lg-none align-self-center">
        <button class="btn btn-success" (click)='this.company.openSidebar("newEntry")'>
          <fa-icon [icon]="['far','calendar-check']" ></fa-icon>
        </button>
      </div>
    </div>
    <div class="row d-none pr-3 pl-3 pt-1 pb-1 text-center align-self-center">
    </div>
  </div>
  